<!DOCTYPE html>
<html>
<script type="text/javascript"> if (!window.console) console = {log: function() {}}; </script>
  {% include head.html %}

  <body>

      <div id="banner">
<h1>Seattle Public Records</h1>
<span id="tagline">Significantly increase public control of<br/> government agencies operating in Seattle</span>
<div id="contact_info">Email us at <a href="mailto:info@seattlepublicrecords.org">info@seattlepublicrecords.org</a> or call us at (206) 693-4096. <strong>Note:</strong> Because SPR aims to be a transparency leader, emails as well as calls to and from that number are recorded (auto warning played) and <a href="/about/emails/">posted online</a>.</div>
<div class="clear"></div>
</div>
<div id="nav"><ul><li><a href="/about/">About SPR</a></li><li><a href="/news/">News</a></li><li><a href="/information/">Information</a></li><li><a href="/opinion/">Opinion</a></li><!--<li><a href="/request_government_records/">Request government records</a></li><li><a href="/make_a_complaint/">Make a complaint</a>--></li>

<li><a href="https://github.com/seattlepublicrecords/seattlepublicrecords.github.io/"><i class="fa fa-github" aria-hidden="true"></i></a></li>
</ul><div class="clear"></div></div>

<div id="main">
  
  <div id="sidebar">
<h3>The mission of SPR</h3>
<p>SPR's mission is to significantly increase public control of government agencies operating inside the City of Seattle by fully informing the public about the activities of those agencies and to facilitate public communication with those agencies.</p>
<h3>Washington Public Records Act: Construction</h3>
<p>The people of this state do not yield their sovereignty to the agencies that serve them. 
The people, in delegating authority, do not give their public servants the right to decide what is good 
for the people to know and what is not good for them to know. <span class="highlight">The people insist on remaining informed 
so that they may maintain control over the instruments that they have created.</span> 
This chapter shall be liberally construed and its exemptions narrowly construed to promote 
this public policy and to assure that the public interest will be fully protected. 
In the event of conflict between the provisions of this chapter and any other act, 
the provisions of this chapter shall govern.</p>
</div>
<div id="content">
  <div class="warning">This site is not fully operational yet. I have a day job that I have to do. I'm putting in as much time as I can to get this operational.</div>
  
    {{ content }}
</div>


</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80267535-1', 'auto');
  ga('send', 'pageview');

</script>

  </body>

</html>
