<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=1300">
    <script type="text/javascript"> if (!window.console) console = {log: function() {}}; </script>

    {% include head.html %}

  </head>
  <body>
    <div class="banner">
      <div class="header-wrapper">
        <div class="header">
          <h1><a href="/">Seattle Public Records</a></h1>
          <p class="tagline">Significantly increase public control of<br/> government agencies operating in Seattle</p>
        </div>
      </div>
    </div>

    <div class="nav">
      <ul>
        <li>
          <a href="/about/">About SPR</a>
        </li>
        <li>
          <a href="/news/">News</a>
        </li>
        <li>
          <a href="/information/">Information</a>
        </li>
        <li>
          <a href="/opinion/">Opinion</a>
        </li>
         <li>
          <a href="/recordscontrol/">RecordsControl</a>
        </li>
        
        <li>
          <a href="https://www.dropbox.com/sh/5b7y0muhg30vrr7/AACm1Rc8Ap0vLtYxA2iQnfVqa?dl=0">
            <i class="fa fa-dropbox" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/seattlepublicrecords/seattlepublicrecords.github.io/">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="main">

      <div class="content">
        {{ content }}
      </div>
    </div>

    <div class="footer">
      <div class="footer-content">
        <h3>The mission of SPR</h3>
        <p>
        SPR's mission is to significantly increase public control of
        government agencies operating inside the City of Seattle by
        fully informing the public about the activities of those agencies
        and making it easy as possible to communicate with them.
        </p>

        <h3>Washington Public Records Act: Construction</h3>
        <p>
        The people of this state do not yield their sovereignty to the agencies that serve them. 
        The people, in delegating authority, do not give their public servants the right to decide what is good 
        for the people to know and what is not good for them to know. <span class="highlight">The people insist on remaining informed 
          so that they may maintain control over the instruments that they have created.</span> 
        This chapter shall be liberally construed and its exemptions narrowly construed to promote 
        this public policy and to assure that the public interest will be fully protected. 
        In the event of conflict between the provisions of this chapter and any other act, 
        the provisions of this chapter shall govern.
        </p>
      </div>
      <div class="contact-info">
        <h3>Contact</h3>
        <p>Email: <a href="mailto:info@seattlepublicrecords.org">info@seattlepublicrecords.org</a></p>
        <p>Phone: (206) 693-4096</p>
        <p>
        <strong>Note:</strong> Because SPR aims to be a transparency leader, emails as well as calls to and from that number are
        recorded (auto warning played) and <a href="/about/emails/">posted online</a>.
        </p>
      </div>
      <div class="footer-content">
        <a href="https://github.com/{{ site.github.repository_nwo }}/edit/master/{{ page.path }}">Edit page via Github</a>
      </div>
    </div>

    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-80267535-1', 'auto');
ga('send', 'pageview');

    </script>
    <!-- Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];
    
    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();
    
    _qevents.push({
    qacct:"p-24C_xpQCj6Esf"
    });
    </script>
    
    <noscript>
    <div style="display:none;">
    <img src="//pixel.quantserve.com/pixel/p-24C_xpQCj6Esf.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
    </noscript>
    <!-- End Quantcast tag -->
  </body>
</html>
